body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f8f9fa;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  color: #333;
}

.description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}

#status {
  font-size: 16px;
  text-align: center;
  border: 2px solid rgb(56, 198, 136);
  margin: 15px;
  padding: 10px;
}

#safeBrowsingStatus{
  font-size: 20px;
  text-align: start;
  color: red;
  border: 2px solid orangered;
  margin: 15px;
  padding: 10px;
}

#sslCertificateStatus{
  margin: 15px;
  border: 1px solid tomato;
  padding: 10px;
}
#who-is-results{
  margin: 15px;
  border: 1px solid rgb(145, 42, 255);
  padding: 10px;
}
#checkCurrentTabButton {
  display: block;
  margin: 0 auto;
}
